.ground-container {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
  position: relative;
  overflow-x: hidden;
  /* 그라데이션 이미지 삽입 */
  background-image: url("/img/ground_main_img.jpg");
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.Ground {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 280px;
}

.ground_title {
  font-size: 118px;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.ground_actions {
  display: flex;
  gap: 4px;
  padding: 0 0 8px 0;
}

.ground_actions a {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ground__info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.ground_infobar {
  width: 4px;
  height: 14px;
  background: #aa0000;
  display: inline-block;
}

.ground_infoLabel {
  color: #aa0000;
  font-weight: 700;
}

/* ground_sns */
.sns-swiper {
  overflow: hidden;
}

.sns-swiper .swiper-slide {
  width: 243px;
  flex: 0 0 auto;
}

.sns-card-link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.sns-card {
  background: #1d1d1d;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 243px;
  height: 373px;
}

.sns-thumb {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sns-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sns-body {
  padding: 12px;
  color: #fff;
  min-height: 110px;
}

.sns-badge {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 700;
}

.sns-title {
  font-size: 14px;
  margin-bottom: 6px;
}

.sns-desc {
  font-size: 14px;
}

.sns-footer {
  margin-top: auto;
  padding: 12px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.sns-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sns-profile-name {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
}
