.ground-container {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
  position: relative;
  overflow-x: hidden;
  /* 그라데이션 이미지 삽입 */
  background-image: url("/img/ground_main_img.jpg");
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.Ground {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 280px;
}

.ground_title {
  font-size: 110px;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.ground_actions {
  display: flex;
  gap: 4px;
  padding: 0 0 8px 0;
}

.ground_actions a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ground__info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.ground_infobar {
  width: 2px;
  height: 14px;
  background: #aa0000;
  display: inline-block;
}

.ground_infoLabel {
  color: #aa0000;
  font-weight: 700;
}
