.home-container {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
  position: relative;
  overflow-x: hidden;
  /* 그라데이션 이미지 삽입 */
  background-image: url("img/hero_top_bg.svg");
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
}
/* header */
header {
  height: 110px;
}
.innerHeader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 398px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  align-items: center;
}
.logo {
  font-size: 24px;
}
.icon-box {
  margin-bottom: 0;
}
/* hero-section */
.hero {
  width: 100%;
  height: 648px;
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-info .team-name {
  font-size: 100px;
  letter-spacing: 2.5px;
  margin-bottom: 56px;
  font-weight: 500;
}
.player-role {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 4px;
}
.player-name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.tags {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
}
.tags span {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 8px 14px;
  border-radius: 20px;
}
/* 선수 카드 swiper */
.hero-swiper-wrap {
  width: 100%;
}
.mySwiper {
  width: 100%;
}
.hero-slide {
  width: 260px;
  height: 400px;
}
.card-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.7;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide-active .card-img {
  opacity: 1;
}

/* 공통요소 */
.section-title {
  font-size: 28px;
  margin-bottom: 28px;
  font-weight: 700;
}
.box {
  border-radius: 6px;
  overflow: hidden;
}

/* comment-section */
.comment {
  width: 100%;
}
.comment-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.comment-slide {
  width: auto;
}
.comment-bubble {
  display: flex;
  align-items: center;
  background: #111;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  padding: 8px 14px;
  margin-right: 12px;
  border-radius: 30px;
}
.profile-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  flex-shrink: 0;
}
.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.comment-text {
  font-size: 14px;
  font-weight: 400;
}

/* todaymatch-section */
.today-match {
  width: 100%;
}
.match-card {
  width: 100%;
  height: 533px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.img img {
  width: 100%;
  height: 100%;
}
.live-badge {
  position: absolute;
  top: 24px;
  left: 24px;
  background: #fff;
  color: #111;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 132%;
}
.live-badge .circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #aa0000;
  border-radius: 50%;
  margin-right: 10px;
}
.match-content {
  position: absolute;
  bottom: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-board {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 310px;
  height: 93px;
  margin-bottom: 35px;
}
.team-name {
  font-size: 16px;
  font-weight: bold;
}
.score-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.score-info .score {
  font-size: 48px;
  font-weight: bold;
}
.score-info .inning {
  font-size: 16px;
  color: #ddd;
}
.tving-btn {
  font-size: 14px;
  padding: 10px 30px;
  background: #aa0000;
  border-radius: 20px;
}

/* highlight-section */
.highlight-grid {
  display: grid;
  grid-template-columns: repeat(2, 190px);
  justify-content: center;
  column-gap: 18px;
  row-gap: 25px;
  padding-bottom: 50px;
}
.highlight-card {
  position: relative;
  overflow: hidden;
  width: 190px;
  height: 220px;
}
.highlight-card a {
  display: block;
}
.highlight-grid > a:nth-child(even) {
  transform: translateY(50px);
}
.highlight-card .img-box {
  width: 100%;
  height: 100%;
}
.highlight-card .img-box img {
  width: 100%;
  height: 100%;
}
.play-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.text-overlay {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px rgba(255, 255, 255, 0.3) solid;
  width: 164px;
  padding-top: 10px;
}
.text-overlay p {
  font-size: 16px;
  font-weight: 500;
}
