header {
  width: 100%;
  height: 80px;
}
.innerHeader {
  width: 93%;
  margin: 0 auto;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo {
  line-height: 32px;
}
.icon-box {
  width: 24px;
  height: 24px;
  overflow: hidden;
  margin-bottom: 0;
  cursor: pointer;
}
.icon-box img {
  width: 100%;
  height: 100%;
}
