.TeamchoiceHeader .innerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* back 버튼 리셋(네모/테두리 방지) */
.back-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  cursor: pointer;
}

.back-btn img {
  display: block;
}

/* skip 버튼 기본 */
.skip-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font: inherit;
  cursor: pointer;
  position: relative;
}

/* 건너뛰기 버튼 가이드 점 */
.skip-btn .guide-dot {
  top: -5px;
  right: -5px;
}

/* 다음 버튼 가이드 점 */
.next .guide-dot {
  top: 10px;
  right: 10px;
}

button {
  position: relative;
}