* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Pretendard", sans-serif;
  letter-spacing: -2%;
}
/* overflow: hidden; */
a {
  text-decoration: none;
  color: inherit;
}
#root {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
  background-color: #111;
  position: relative;
  color: #fff;
}
li {
  list-style: none;
}
/* 공통요소 */
.inner {
  width: 100%;
  padding: 0 16px;
}
section {
  margin-bottom: 72px;
}

.point {
  font-family: "Humane", sans-serif;
  line-height: 100%;
}
