* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Pretendard", sans-serif;
  letter-spacing: -0.02rem;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
  background-color: #111;
  position: relative;
  color: #fff;
}

li {
  list-style: none;
}

/* 공통요소 */
.inner {
  width: 93%;
  margin: 0 auto;

}

section {
  margin-bottom: 72px;
}

.point {
  font-family: "Humane", sans-serif;
  line-height: 100%;
}
