.login-container {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

.login {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #000;
  color: #fff;
}

.login-tit {
  font-size: 75px;
  letter-spacing: 1.2px;
  font-weight: 500;
}

.login-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 0;
}

.login-logoBox {
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
  display: flex;
  display: block;
  text-align: center;
}

.login-logo {
  width: 170px;
  height: auto;
}

.login-bottom {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 93%;
  text-align: center;
}

.login-btn {
  position: relative;
  height: 52px;
  border-radius: 6px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.login-icon {
  position: absolute;
  left: 30px;

  width: 22px;
  /* 18 → 22 */
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn.kakao {
  background: #f6de02;
  color: #111;
}

.login-btn.google {
  background: #fff;
  color: #111;
}

.login-btn.apple {
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.login-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.75);
}

.login-links .bar {
  opacity: 0.6;
}

.bar {
  background: none;
  /* ❗ */
  width: auto;
  height: auto;
  color: rgba(255, 255, 255, 0.3);
}