.onboarding {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  color: #fff;
}
.onboarding-container {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  touch-action: pan-y;
}
.bg {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  color: #fff;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.skip {
  position: absolute;
  top: 80px;
  right: 16px;
  z-index: 2;
  background: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(-770px);
}
.content h2 {
  margin: 0;
  font-size: 30px;
  letter-spacing: -0.02rem;
  line-height: 1.32;
  font-weight: bold;
}
.content h3 {
  margin: 12px 0 0;
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: -0.02rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.75);
}

.bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  z-index: 1;
  padding: 0 16px;
}

/* pagenation */
.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.35);
  border: 0;
  padding: 0;
  cursor: pointer;
}

.dot.active {
  width: 18px;
  background: rgba(255, 255, 255, 0.9);
}

.next {
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* 온보딩 3 댓글 말풍선 */
.bubbles {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 250px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 2;
}

/* 공통 말풍선 */
.bubble {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 26px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(6px);
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
  width: fit-content;
}

.bubble-right {
  align-self: flex-end;
}
.bubble-left {
  align-self: flex-start;
}

.bubble-dot {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
}
