.splash-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.splash-container .img-box {
  width: 100%;
  height: 100%;
}

.splash-container .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splash-container .text-box {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  z-index: 10;
}

.splash-title {
  font-size: 220px;
  letter-spacing: 3px;
  font-weight: 500;
}

.splash-txt {
  font-size: 22px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
